<p>index.html.erb</p>
<p>this is a game page</p>
<p>what should it do?  Ideas:</p>
<ul>
  <li>List options like: "new game," "continue game," "login," etc.?</li>
  <li>start with a game and automatically begin looking for a random player?</li>
  <li>should we for signup and player login before anything else? Or allow people to play anonymously?</li>
<ul>