<hr />

<% @active_games.each do |game| %>
 <div><%= link_to game %></div>
<% end %>
 <hr />

<% @inactive_games.each do |game| %>
 <div><%= link_to game %></div>
<% end %>

<ul>
  <li>List options like: "new game," "continue game," "login," etc.?</li>
  <li>start with a game and automatically begin looking for a random player?</li>
  <li>should we for signup and player login before anything else? Or allow people to play anonymously?</li>
<ul>